@model Client.Models.UpdateEmployeeDTO
@{
    ViewData["Title"] = "Update Employee";
}

<h1>Edit Employee</h1>

<form method="post">
    <div class="form-group">
        <label for="PhoneNumber">Phone Number:</label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
    </div>
    <div class="form-group">
        <label for="Address">Address:</label>
        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
    </div>
    <div class="form-group">
        <label for="BaseSalary">Base Salary:</label>
        <input type="number" class="form-control" id="BaseSalary" name="BaseSalary" value="@Model.BaseSalary">
    </div>
    <div class="form-group">
        <label for="Department">Department:</label>
        <select class="form-control" id="Department" name="Department">
            @foreach (var department in Enum.GetValues(typeof(Department)))
            {
                <option value="@department" selected="@(Model.Department == department.ToString() ? "selected" : null)">@department</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="text" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate">
    </div>
    <div class="form-group">
        <label for="Salary">Salary:</label>
        <input type="number" class="form-control" id="Salary" name="Salary" value="@Model.Salary">
    </div>
    <div class="form-group">
        <label for="EmploymentType">Employment Type:</label>
        <input type="text" class="form-control" id="EmploymentType" name="EmploymentType" value="@Model.EmploymentType">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<div class="card-footer">
    <a href="@Url.Action("Index", "Employee")" class="btn btn-primary">Back to List</a>
</div>
