@model Client.Models.UpdateJobDTO
@{
    ViewData["Title"] = "Update Job";
}

<h1>Edit Job</h1>

<form method="post" action="@Url.Action("Update", "Job")">
    <input type="hidden" name="JobId" value="@ViewBag.JobId">

    <div class="form-group">
        <label for="ManagerEmployeeId">Manager Employee ID:</label>
        <input type="number" class="form-control" id="ManagerEmployeeId" name="Manager.EmployeeId" value="@Model.Manager.EmployeeId" readonly>
    </div>
    <div class="form-group">
        <label for="ManagerFirstName">Manager First Name:</label>
        <input type="text" class="form-control" id="ManagerFirstName" name="Manager.FirstName" value="@Model.Manager.FirstName">
    </div>
    <div class="form-group">
        <label for="ManagerLastName">Manager Last Name:</label>
        <input type="text" class="form-control" id="ManagerLastName" name="Manager.LastName" value="@Model.Manager.LastName">
    </div>
    <div class="form-group">
        <label for="ManagerEmail">Manager Email:</label>
        <input type="email" class="form-control" id="ManagerEmail" name="Manager.Email" value="@Model.Manager.Email">
    </div>
    <div class="form-group">
        <label for="ManagerPhoneNumber">Manager Phone Number:</label>
        <input type="text" class="form-control" id="ManagerPhoneNumber" name="Manager.PhoneNumber" value="@Model.Manager.PhoneNumber">
    </div>
    <div class="form-group">
        <label for="ManagerAddress">Manager Address:</label>
        <input type="text" class="form-control" id="ManagerAddress" name="Manager.Address" value="@Model.Manager.Address">
    </div>
    <div class="form-group">
        <label for="ManagerJobId">Manager Job ID:</label>
        <input type="number" class="form-control" id="ManagerJobId" name="Manager.JobId" value="@Model.Manager.JobId">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("Index", "Job")" class="btn btn-secondary">Cancel</a>
</form>
